<div class="container">
    <h1>Register</h1>
    <hr>
    <small>This is register page!</small>
    <form method="post" action="/register">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"> <br />
        
        <label for="email">Email</label>
        <input type="text" id="email" name="email"> <br /b>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password"> <br /b>

        <label for="confirmPassword">Comfirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword"> <br /b>
    
        <button type="submit">Register</button>
    </form>
</div>