<div class="container">
    <h1>Register</h1>
    <hr>
    <small>This is register page!</small>
    <form method="post" action="/register">
        <label for="name">Username</label>
        <input type="text" id="name" name="name"> <br />
        
        <label for="name">Email</label>
        <input type="text" id="email" name="email"> <br /b>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password"> <br /b>

        <label for="comfirmPassword">Comfirm Password</label>
        <input type="password" id="comfirmPassword" name="comfirmPassword"> <br /b>
    
        <button type="submit">Register</button>
    </form>
</div>